@font-face {
  font-family: "CormorantGaramond";
  src: url(fonts/CormorantGaramond-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-Thin.ttf);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container .chapter-1 {
  position: absolute;
  width: 50%;
  height: 758px;
  background-color: #fff;
}

.container .chapter-1 .header {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* justify-content: space-between : 항상 좌우 끝에 배치 */
  align-items: center;
}

.container .chapter-1 .header h1 a {
  text-decoration: none;
  color: #000;
  font-family: CormorantGaramond;
  font-size: 1.5rem;
}

.container .chapter-1 .header .navi ul li {
  display: inline-block;
  margin: 0 10px;
}

.container .chapter-1 .header .navi ul li a {
  text-decoration: none;
  color: #000;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 900;
}

.container .chapter-1 .intro {
  width: 100%;
  height: 678px;
  background-color: aquamarine;
  text-align: center;
}

.container .chapter-1 .intro span {
  font-size: 85px;
  text-align: center;
}
