@font-face {
  font-family: "CormorantGaramond";
  src: url(fonts/CormorantGaramond-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-Thin.ttf);
  font-family: "Montserrat-Bold";
  src: url(fonts/Montserrat-Bold.ttf);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container .chapter-1 {
  position: absolute;
  width: 50%;
  height: 758px;
  background-color: #fff;
}

.container .chapter-1 .header {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* justify-content: space-between : 항상 좌우 끝에 배치 */
  align-items: center;
}

.container .chapter-1 .header h1 a {
  text-decoration: none;
  color: #000;
  font-family: CormorantGaramond;
  font-size: 1.5rem;
}

.container .chapter-1 .header .navi ul li {
  display: inline-block;
  margin: 0 10px;
}

.container .chapter-1 .header .navi ul li a {
  text-decoration: none;
  color: #000;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.4s;
}

.container .chapter-1 .header .navi ul li a:hover {
  color: #4c7c65;
}

.container .chapter-1 .intro {
  width: 100%;
  height: 678px;
  background-color: #fff;
  text-align: center;
}

.container .chapter-1 .intro .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.container .chapter-1 .intro .content span.name {
  font-family: CormorantGaramond;
  font-size: 85px;
  display: inline-block;
  margin-bottom: 15px;
}

.container .chapter-1 .intro .content span.portfolio {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 80px;
}

.container .chapter-1 .intro .content p.text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  margin: 8px 0;
}

.container .chapter-1 .intro .content a {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  display: inline-block;
  margin-top: 30px;
  transition: all 0.4s;
}

.container .chapter-1 .intro .content a:hover {
  color: #cf466f;
}

.container .chapter-right {
  position: relative;
  float: right;
  width: 50%;
  height: 758px;
  background-color: #8ea69b;
}

.container .chapter-right .id-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .container .chapter-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
} */
