/* 검색 영역 */
.search {
  margin: 20px;
  position: relative;
  animation: slidedown 0.75s both;
}

.search form {
  display: flex;
}

.search .search-field {
  width: 100%;
  flex-shrink: 0;
  transition: 0.2s;
}

.search .search-field:focus {
  flex-shrink: initial;
}

.search .search-field:focus ~ .cancel-btn {
  opacity: 1;
}

.search .cancel-btn {
  flex-shrink: 0;
  /* width : flex에서 강제적으로 width가 줄어드는 것을 방지 */
  margin-left: 20px;
  opacity: 0;
  transition: 0.2s;
}

.search .search-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  opacity: 0.3;
}

/* 텍스트 영역 */
.text-area {
  margin: 24px;
  margin-top: 124px;
  margin-bottom: 12px;
  animation: showtext 0.35s both;
}

.text-area .desc {
  margin-top: 12px;
}

/* 콜렉션뷰 영역 */
.list {
  font-size: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 148px;
  grid-column-gap: 17px;
  grid-row-gap: 17px;
  /* grid-gap:18px */
  padding: 24px;
}

.list .item {
  background-color: red;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.list .item:nth-child(1) {
  background-image: url(./img/likes-1.jpg);
}

.list .item:nth-child(2) {
  background-image: url(./img/likes-2.jpg);
}

.list .item:nth-child(3) {
  background-image: url(./img/likes-3.jpg);
}

.list .item:nth-child(4) {
  background-image: url(./img/likes-4.jpg);
}

.list .item:nth-child(5) {
  background-image: url(./img/likes-1.jpg);
}

.list .item:nth-child(6) {
  background-image: url(./img/likes-2.jpg);
}
