* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #485861;
  color: #ffe6cf;
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 1.4;
  font-size: 500;
  margin: 0;
  overflow-x: hidden;
  /* overflow: hidden; : 스크롤 사용을 하지 않는다 */
  /* overflow-x: ;: hidden; : 가로축 스크롤 사용을 하지 않는다 */
  /* overflow-y: ;: hidden; : 세로축 스크롤 사용을 하지 않는다 */
  margin-bottom: 72px;
}

h1 {
  margin: 0;
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
}

h2 {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: #ffe6cf;
  text-decoration: none;
}

input {
  background-color: transparent;
  border: none;
  background-color: rgba(255, 255, 255, 0.08);
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.12);
  transition: 0.2s;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffe6cf;
  font-size: 15px;
}

.mouse-effect {
  position: relative;
  overflow: hidden;
}

.mouse-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.2s;
}

.mouse-effect:hover::after {
  background-color: rgba(0, 0, 0, 0.08);
}

.mouse-effect:hover:active {
  background-color: rgba(0, 0, 0, 0.12);
}

.gnb {
  width: 100%;
  height: 72px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #303a44;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
}

.gnb a {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

.gnb .active {
  opacity: 1;
}
