* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 1280px;
  background-color: #fff;
}

.container .header .navi {
  width: 90%;
  height: 126px;
  background-color: darkslategray;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.container .header .navi h1 a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.container .header .navi ul li {
  display: inline-block;
  margin: 0 10px;
}

.container .header .navi ul li a {
  text-decoration: none;
  color: #000;
}

.container .header .navi ul li a:hover {
  color: dodgerblue;
}

.container .Main {
  position: relative;
  width: 100%;
  height: 952px;
  display: flex;
}

.container .Main .strip-1 {
  width: 770px;
  height: 952px;
  background-color: #e6dace;
}

.container .Main .strip-2 {
  background-color: red;
  /* width: 1150px; */
}

.container .Main .strip-3 {
  position: relative;
  width: 960px;
  height: 641px;
  top: 30%;
  right: 250px;
}

.container .footer {
  background-color: #3a3a3a;
}
