body {
  background-color: black;
}

html {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
h1 {
  color: #ff2461;
  font-size: 6rem;
}
h2 {
  color: #fff;
  font-size: 2rem;
}
p {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
}
/* font size : 단위에는 px, rem, em, vw, vh가 있다. */
/* px : 웹에서 사용되는 가장 기본적인 단위이다. */
/* rem : html 태그의 폰트 크기를 기준으로 배수에 해당하는 크기를 가진다. ex)1rem은 16px, 2rem은 32px */
/* em : 부모 태그의 폰트 크기의 배수를 의미한다. */
/* vw : 웹브라우져의 화면의 가로 크기와 관련이 있는 단위이다. */
/* vh : 웹브라우저의 화면의 세로 크기와 관련이 있는 단위이다. */
/* font-family:[글꼴],[글꼴유형]; 으로 구성 되며 [글꼴유형]에는 serif, sans-serif, cursive, fantasy, monospace가 있으며 반드시 [글꼴유형]에 기입해줘야 한다. */
/* font-weight : 굵기 단위. 굵기를 사용할때 폰트에서 제공되는 폰트사이즈가 초과가 되면 사용이 불가능 하다.*/
/* line-height : 글자 높이를 변경하기 위해서 사용하는 css 속성이다. */

/* css 기본 문법에는 선택자{속성:속성값;} */
